button {
  display: block;
  margin: 10px auto 20px auto;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

th {
  background: #333;
  color: #fff;
}

td img {
  display: block;
  margin: 0 auto;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:hover {
  background: #e0f7fa;


}

#table-container td:nth-child(2) {
  color: #black;   /* färg på poängen */
  font-weight: bold;
}


